@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}


.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    padding: 18px 0;
}

.header__list {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.header__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    text-transform: uppercase;
    color: #404040;
}


.banner {
    background: url(../imgs/banner.png) no-repeat top center/cover;
    height: 391px;
    position: relative;
}


.banner__wrap {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 55px;


}

.banner__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner__h__Span {
    font-family: 'Montserrat', sans-serif;
    font-size: 43px;
    font-weight: 400;
    line-height: 55px;
    text-align: center;
}

.banner::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: white;
    top: 243px;
    left: 50%;
    transform: translateX(-50%);
}

.banner::after {
    content: url(../imgs/cross.png);
    position: absolute;
    left: calc(50% - 52px/2);
    top: 391px;
    transform: translateX(-50%) translateY(-50%);
}

.banner__p {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.yellow {
    background: #FEFEC9;
    margin-bottom: 80px;
}

.yellow__wrap {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}

.yellow__p {
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #47474F;
}

.yellow__link {
    padding: 13px 34px 20px;
    border-top: 1px solid #47474F;
    border-right: 1px solid #47474F;
    border-left: 1px solid #47474F;
    border-bottom: 2px solid #47474F;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #47474F;
    transition: 0.3s;
}
.yellow__link:hover{
    transform: scale(1.2);
}